h1 {
    font-size: 50px;
}

input {
    padding: 10px;
}

body {
    background-color: #FCEF91;
}

button {
  background-color: #fd790c;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  font-size: 14px;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px 80px;
}


#album-varasto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.album-card {
    width: 300px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 2em;
     border-radius: 30px;
    background: #FB9E3A;
    box-shadow: 15px 15px 30px rgb(25, 25, 25);
}
